
.vs/AppLoginAspCore/FileContentIndex/8ceae139-2c26-43dc-a8f6-180df3e403a9.vsidx
.vs/AppLoginAspCore/v16/.suo
.vs/AppLoginAspCore/config/applicationhost.config
.vs/AppLoginAspCore/DesignTimeBuild/.dtbcache.v2
.vs/AppLoginAspCore/FileContentIndex/442a3ce1-a714-4df9-9bf1-a1de66dfc336.vsidx
.vs/AppLoginAspCore/v17/.futdcache.v2
.vs/AppLoginAspCore/v17/.suo
.vs/AppLoginAspCore/v17/DocumentLayout.json
.vs/ProjectEvaluation/apploginaspcore.metadata.v7.bin
.vs/ProjectEvaluation/apploginaspcore.projects.v7.bin
.vs/AppLoginAspCore/FileContentIndex/d3bd1a27-8194-420a-9995-f04e773bd970.vsidx
.vs/AppLoginAspCore/FileContentIndex/6f9987b8-c5b2-4c21-8466-a27ad4037988.vsidx
